body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


.icon{
    float: left;
    width: 45px;
    margin-left: 5px;

}
.icon2{
    float: left;
    width: 45px;
    margin-left: 10px;
    padding-top: 12px;
}
.login {
    float: right;
}

.login a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover, .login a:hover {
    transform: scale(1.05); 
    background-color: #dddddd80;
    color: black; 
}


section {
    padding: 50px 20px;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    outline: none;
    color: white;
    background-color: inherit;
    margin: 0;
    padding: 14px 20px;
    cursor: pointer;
}

.dropdown-content {
    border-radius: 8px;
    margin-top: 45px;
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 180px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #dddddd80;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.contact {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buzz{
    height: 400px;
    width: 450px;
}

.title-container2{
    text-align: center;
}