{% extends"base.html" %}
{% block content %}
<div>
    <h1>Já pensou em viver sem mosquitos e  sem preocupações?</h1>
    <p>A BuzzAway™ Oferece a você o novo produto do mercado!</p>
    <div class="form" ><p>Perfeito para levar os mosquitos da sua casa sem problemas!</p>
        <h2>Equipado com: </h2>
        <h3>Buzzer</h3>
        <h3>Sensor Ultrasônico</h3>
        <h3>Sensor de Temperatura</h3>
        <h3>LED indicador</h3>
        <img class="buzz" src="{{url_for('static', filename='uzzzz.png')}}" alt="">
    </div>
    
    
</div>
{% endblock %}