{% extends "baseAdmin.html" %}
<html>
<head>
    {% block title %}
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5">
    {% endblock %}
</head>
<body>
    <div id="content">
        {% block content %}
        <ul>
            {% for key, value in values.items() %}
                {% if key == 'local' %}
                    <li class="centered">
                        <p>Sensor do Ambiente: </p>
                        <img src="{{ url_for('static', filename='live-streaming.png') }}" width="60" height="60" alt="">
                        <span>{{ value }}</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endblock %}
    </div>
</body>
</html>
